@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

html {

    font-size: 62.5%;
}

:root {
    --bg-color: #110920;
    --login-color: #1a0e30;
    --button-color: #02c1ee;
    --button-hover: #8c3596;
    --login: #3b2d53ad;
}

body {
    background-color: var(--bg-color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 90%;
    height: 100vh;
    
}

.ilustrsion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
    margin-right: 7rem;
    margin-left: 6rem;
   
}

.ilustrsion img {
    height: 50vh;
}

.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--login-color);
    border-radius: 2rem;
    width: 30rem;
    min-height: 40rem;
    box-sizing: border-box;
    box-shadow: 0 0 1.6em var(--button-color);
    margin-left: 5%;
}

.login-content img {
    width: 25vh;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-form a, p {
 font-size: 1.6rem;
}

.login-input {
    height: 4.8rem;
    width: 90%;
    box-sizing: border-box;
    padding-left: .8rem;
    border: unset;
    outline: none;
    background: var(--login);
    border-radius: .5rem;
    color: white;
    font-size: 1.5rem;
    margin-top: 10%;
}

#input-email {
    margin-bottom: -1.5rem;
}

#input-senha {
    margin-bottom: 2rem;
}

.login-reset {
    width: 92%;
    display: flex;
    justify-content: start;
    margin-bottom: 1.5rem;
    color: white;
}

.login-reset:hover {
    color: var(--button-color);
}

.login-submit {
    padding: 1.5rem 35%;
    border-radius: 2rem;
    background-color: var(--button-color);
    box-shadow: 0 0 1em var(--button-color);
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.login-submit:hover {
    background-color: var(--button-hover);
    box-shadow: 0 0 1em var(--button-hover);
}

.register, .register a {
    color: white;
}

.register a {
    font-weight: bold;
}

.register a:hover {
    color: var(--button-color);
}


/* Media queries */

@media (max-width: 1050px){
    .flex {
        width: 90%;
    }

    .ilustrsion img {
        height: 40vh;
        margin-left: -15%;
    }

    .login-content {
        margin-left: -2%;
    }
}

@media (max-width: 859px){
    .flex {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ilustrsion {
        display: none;
    }

    .login-content {
        min-width: 26rem;

    }
}